/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * HBP defaults
 *
 ********************************************************************************/


html {
    // apply a natural box layout model to all elements, but allowing components to change
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {

    &,
    &::before,
    &::after { box-sizing: inherit; }
}

body {
    width: 100%;
    height: 100%;
}

html,
body { background-color: $site-background-color; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    margin: 1em 0;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    height: 1px;
}

/*
 * Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video { vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset { border: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea { resize: vertical; }
