<div class="signup-container">
    <h3 class="u-margin-bottom--md u-margin-hug--top" aria-hidden="true">{{consts.HEADER_FORGOT_PASSWORD}}</h3>
    <h3 class="u-margin-bottom--md u-margin-hug--top u-sr-only" id="forgot-header" tabindex="-1">{{consts.HEADER_FORGOT_PASSWORD}}</h3>
    <form [formGroup]="forgotPasswordForm" autocomplete="off" (ngSubmit)="submitBtn.focus(); validateEmail();">
        <div class="form-item u-margin-bottom--md"
            [ngClass]="{'form-item--error':emailError}">
            <label for="loginEmailID" id="email-lbl">{{consts.LABEL_FORGOT_PASS_EMAIL_TXT}}</label>
            <input type="email" id="loginEmailID" name="input-login-emailid" formControlName='userEmailId' #userEmailId
                (blur)="verifyEmail()" (keydown)="emailChanged()"
                aria-describedby="email-lbl email-error-message" />
            <p id="email-error-message"
                *ngIf="emailError"
                class="form-item__error-message">{{emailErrorMessage}}</p>
        </div>
        <button class="btn btn--primary u-margin-bottom--md u-margin-top--md" type="submit" #submitBtn>{{consts.LABEL_FORGOT_PASS_NEXT_BTN}}</button>
    </form>
    <div class="form-item no-margin font-s16">
            <span aria-hidden="true">{{consts.LABEL_FORGOT_PASS_RETURN_SIGNIN_TXT}}</span><a href="javascript:void(0)" class="btn-txt font-s16" (click)="navigateToPage()">{{consts.LABEL_FORGOT_PASS_SIGN_IN_LINK}}</a>
    </div>
</div>