$btn-primary: #00609C;  //  #008fdc; - this color code modified based on UX feedback for accessibility fixes
$btn-secondary: #003970;  //  #00609c; - this color code modified based on UX feedback for accessibility fixes 
$btn-tertiary: transparent;
$btn-tertiary-border: #484848;
$white: #fff;
$black: #000;
$dark-gray: #636569;

$title-color: #003970;
$default-text: #141414;
$table-title-text: #3d4052;
$table-title-bg: #f5f5f5;
$alert-text: #c9282d;
$graph-light-blue: #005F70;
$light-gray-border: #92949b;
$buttonBg-light-gray: #d1d1d1;

$border-color: #a3a7aa;
$border-color-light: #d3d3d3;
$border-color-secondary: #e0e0e0;
$success-status: #00943c;
$success-state-notify: #00af6d;
