<div class="reset-password-container" *ngIf="!expired">
       {{consts.MSG_RESET_PWD_VERIFICATION_INFO_1_A}} {{emailAddress}}{{consts.MSG_RESET_PWD_VERIFICATION_INFO_1_B}}
        <hr>
        <h3 class="u-margin-bottom--md u-margin-hug--top">{{consts.MSG_COMMON_MAIL_NOT_RECEIVED_TITLE}} </h3>
       {{consts.MSG_VERIFY_ACCNT_MAIL_NOT_RECEIVED_DESC_1}}
        <br><br>
        {{consts.MSG_RESET_PWD_VERIFICATION_INFO_3}}
        <br><br>
        <div class="form-item">
            <!-- <button class="btn-txt font-s16 no-padding--left" (click)="resendforgotPasswordLink()">{{consts.LABEL_COMMON_RESEND_VERIFICATION_LINK}}</button><br /> -->
            Return to <button class="btn-txt font-s16 no-padding--left" (click)="signIn()">{{consts.LABEL_SIGN_IN}}</button>
        </div>
    </div>
<div class="reset-password-container" *ngIf="expired">
    <h3 class="u-margin-bottom--md u-margin-hug--top"> {{consts.HEADER_LINK_EXPIRED}} </h3>
    <h3 class="u-sr-only" tabindex="-1" id="reset-ver-link"> {{consts.HEADER_LINK_EXPIRED}} </h3>
    {{consts.MSG_COMMON_LINK_EXPIRED_DESC}}
    <br><br>
    <div class="form-item">
        <button class="btn btn--primary u-margin-bottom--md" (click)="resendforgotPasswordLink()"> {{consts.LABEL_RESEND}} </button>
    </div>
</div>