<div class="reset-password-container">
  <p id="pwd-reset-successful-msg" class="" *ngIf="skip" aria-live="assertive">
      <svg class="u-icon-i-success-green-solid-fill-dims">
        <use xlink:href="#i-success-green-solid-fill"></use>
      </svg> Your account has been verified
    </p>
  <h3 class="u-margin-bottom--md u-margin-hug--top" aria-hidden="true">{{resetPwdHeader}}</h3>
  <h3 class="u-margin-bottom--md u-margin-hug--top u-sr-only" tabindex="-1" id="fr-pwd-heading">{{resetPwdHeader}}</h3>  
  <form [formGroup]='resetPasswordForm' autocomplete="off" (ngSubmit)="submitBtn.focus(); resetPassword();">
    <div class="form-item u-margin-bottom--md"
      [ngClass]="{'form-item--error':passwordError}">
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" name="input-new-password" formControlName='newPassword' #newPassword (blur)="verifyPassword()" (keydown)="passwordChanged()" aria-describedby="new-password-error-message" />
      <p id="new-password-error-message"
        *ngIf="passwordError"
        class="form-item__error-message">{{passwordErrorMessage}}</p>
    </div>
    <div class="form-item form-item--error u-margin-bottom--md"
      [ngClass]="{'form-item--error':confirmPwdError}">
      <label for="confirmPassword">Confirm New Password</label>
      <input type="password" id="confirmPassword" name="input-confirm-password" formControlName='confirmPassword'
        #confirmPassword (blur)="verifyConfirmPwd()" (keydown)="confirmPwdChanged()" aria-describedby="confirm-password-required-error-message" />
      <p id="confirm-password-required-error-message"
        *ngIf="confirmPwdError"
        class="form-item__error-message">{{confirmPwdErrorMessage}}</p>
    </div>
    <div *ngIf="pwdChangeErr" class="form-item--error">
      <p id="current-and-new-pwd-same-error-message" class="form-item__error-message" aria-live="current-and-new-pwd-same-error-message">{{passwordErrorMessage}}</p>
    </div>
    <button type="submit" class="btn btn--primary u-margin-bottom--md u-margin-top--md" #submitBtn>Reset</button>
    <!-- <button class="btn btn--tertiary u-margin-bottom--md" (click)="skipResetPassword()" *ngIf="skip">Skip</button> -->
  </form>
</div>