<!-- <div class="loading-wrapper" *ngIf="isLoading | async">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div> -->


<div class="loading-wrapper" *ngIf="isLoading | async">
  <div class="loading-container" role="status">
      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-dual-ring" style="background:0 0">
          <circle cx="50" cy="50" fill="none" stroke-linecap="round" r="40" stroke-width="6" stroke="#c3d941" stroke-dasharray="62.83185307179586 62.83185307179586" transform="rotate(320.812 50 50)">
              <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1.5s" begin="0s" repeatCount="indefinite"/>
          </circle>
          <circle cx="50" cy="50" fill="none" stroke-linecap="round" r="33" stroke-width="6" stroke="#0064d6" stroke-dasharray="51.83627878423159 51.83627878423159" stroke-dashoffset="51.836" transform="rotate(-320.812 50 50)">
              <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;-360 50 50" keyTimes="0;1" dur="1.5s" begin="0s" repeatCount="indefinite"/>
          </circle>
      </svg>
      <span class="loading-container__message">Loading&#8230;</span>
  </div>
</div>

