<div class="vk-margin-left-lg">
    <ul class="utility-control__container">
        <li class="flyout__container flyout__container--hover flyout__container--utility utility-control__item">
            <button class="utility-control__btn">
                <svg class="u-icon-i-account-dims utility-control__icon">
                    <use xlink:href="#i-account"></use>
                </svg>
                <span class="u-sr-only utility-control__label">Account</span>
            </button>
            <div class="flyout__panel" data-header-i18n="panel">
                <ul class="u-list-unstyled flyout__list">
                    <li class="flyout__item"><a href="#" class="flyout__link">First Account Child</a></li>
                    <li class="flyout__item"><a href="#" class="flyout__link">Another Child</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <!-- /.utility-control__container -->
</div>
