.u-icon-i-account-dims {
	width: 20px;
	height: 20px;
}

.u-icon-i-action-menu-dims {
	width: 17px;
	height: 4px;
}

.u-icon-i-add-field-above-dims {
	width: 35px;
	height: 35px;
}

.u-icon-i-add-field-below-dims {
	width: 35px;
	height: 35px;
}

.u-icon-i-aggregation-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-alert-dims {
	width: 19px;
	height: 19px;
}

.u-icon-i-arrows-dims {
	width: 17px;
	height: 17px;
}

.u-icon-i-asc-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-calendar-blue-dims {
	width: 13px;
	height: 15px;
}

.u-icon-i-calendar-gray-dims {
	width: 13px;
	height: 15px;
}

.u-icon-i-calendar-no-fill-dims {
	width: 13px;
	height: 15px;
}

.u-icon-i-cancel-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-check-dims {
	width: 18px;
	height: 18px;
}

.u-icon-i-check-disabled-dims {
	width: 20px;
	height: 20px;
}

.u-icon-i-check-green-dims {
	width: 18px;
	height: 18px;
}

.u-icon-i-checkbox-checked-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-checkbox-checked-readonly-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-checkbox-indeterminate-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-checkbox-indeterminate-readonly-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-checkbox-unchecked-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-checkbox-unchecked-readonly-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-chevron-down-dims {
	width: 11px;
	height: 11px;
}

.u-icon-i-chevron-down-blue-dims {
	width: 11px;
	height: 11px;
}

.u-icon-i-chevron-down-disabled-dims {
	width: 11px;
	height: 11px;
}

.u-icon-i-chevron-down-nofill-dims {
	width: 11px;
	height: 11px;
}

.u-icon-i-chevron-left-dims {
	width: 5px;
	height: 10px;
}

.u-icon-i-chevron-right-dims {
	width: 5px;
	height: 10px;
}

.u-icon-i-chevron-up-blue-dims {
	width: 11px;
	height: 11px;
}

.u-icon-i-clock-blue-dims {
	width: 23px;
	height: 23px;
}

.u-icon-i-clock-gray-dims {
	width: 23px;
	height: 23px;
}

.u-icon-i-clock-no-fill-dims {
	width: 23px;
	height: 23px;
}

.u-icon-i-clone-dims {
	width: 21px;
	height: 21px;
}

.u-icon-i-close-dims {
	width: 13px;
	height: 13px;
}

.u-icon-i-collapse-arrows-dims {
	width: 12px;
	height: 16px;
}

.u-icon-i-column-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-columns-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-contracted-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-copy-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-cross-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-cut-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-dashboard-gear-dims {
	width: 25px;
	height: 24px;
}

.u-icon-i-dashboard-pdf-dims {
	width: 25px;
	height: 24px;
}

.u-icon-i-dashboard-phone-dims {
	width: 25px;
	height: 24px;
}

.u-icon-i-dashboard-portal-dims {
	width: 25px;
	height: 24px;
}

.u-icon-i-delete-dims {
	width: 10px;
	height: 10px;
}

.u-icon-i-delete-field-dims {
	width: 35px;
	height: 35px;
}

.u-icon-i-desc-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-dollar-dims {
	width: 11px;
	height: 16px;
}

.u-icon-i-enterprise-dims {
	width: 22px;
	height: 22px;
}

.u-icon-i-exclamation-dims {
	width: 17px;
	height: 17px;
}

.u-icon-i-exclamation-no-fill-dims {
	width: 17px;
	height: 17px;
}

.u-icon-i-exclamation-red-dims {
	width: 17px;
	height: 17px;
}

.u-icon-i-exclamation-red-solid-fill-dims {
	width: 18px;
	height: 18px;
}

.u-icon-i-expanded-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-external-link-dims {
	width: 13px;
	height: 13px;
}

.u-icon-i-eye-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-eye-slash-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-facebook-dims {
	width: 42px;
	height: 42px;
}

.u-icon-i-filter-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-folder-dims {
	width: 17px;
	height: 14px;
}

.u-icon-i-folder-open-dims {
	width: 20px;
	height: 15.3px;
}

.u-icon-i-globe-dims {
	width: 16px;
	height: 16px;
}

.u-icon-i-grip-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-group-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-has-children-dims {
	width: 17px;
	height: 15px;
}

.u-icon-i-help-dims {
	width: 17px;
	height: 19px;
}

.u-icon-i-hide-dims {
	width: 22px;
	height: 18px;
}

.u-icon-i-home-dims {
	width: 17px;
	height: 16px;
}

.u-icon-i-indeterminate-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-information-dims {
	width: 17px;
	height: 17px;
}

.u-icon-i-inherited-property-dims {
	width: 17px;
	height: 17px;
}

.u-icon-i-jump-top-dims {
	width: 13px;
	height: 14px;
}

.u-icon-i-left-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-linkedin-dims {
	width: 42px;
	height: 42px;
}

.u-icon-i-loading-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-logout-dims {
	width: 20px;
	height: 18px;
}

.u-icon-i-mail-dims {
	width: 17px;
	height: 13px;
}

.u-icon-i-menu-dims {
	width: 11px;
	height: 11px;
}

.u-icon-i-menu-arrow-dims {
	width: 25px;
	height: 25px;
}

.u-icon-i-menu-kabob-dims {
	width: 20px;
	height: 6px;
}

.u-icon-i-minus-dims {
	width: 46px;
	height: 36px;
}

.u-icon-i-move-field-down-dims {
	width: 35px;
	height: 35px;
}

.u-icon-i-move-field-up-dims {
	width: 35px;
	height: 35px;
}

.u-icon-i-nav-temp-dims {
	width: 17px;
	height: 17px;
}

.u-icon-i-next-month-dims {
	width: 7px;
	height: 13px;
}

.u-icon-i-next-month-blue-dims {
	width: 7px;
	height: 13px;
}

.u-icon-i-next-year-dims {
	width: 13px;
	height: 13px;
}

.u-icon-i-none-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-not-allowed-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-paste-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-pin-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-pivot-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-play-dims {
	width: 22px;
	height: 22px;
}

.u-icon-i-plus-dims {
	width: 46px;
	height: 36px;
}

.u-icon-i-plus-sm-dims {
	width: 10px;
	height: 10px;
}

.u-icon-i-previous-month-dims {
	width: 7px;
	height: 13px;
}

.u-icon-i-previous-month-blue-dims {
	width: 7px;
	height: 13px;
}

.u-icon-i-previous-year-dims {
	width: 13px;
	height: 13px;
}

.u-icon-i-remove-dims {
	width: 35px;
	height: 37px;
}

.u-icon-i-reporting-dims {
	width: 22px;
	height: 22px;
}

.u-icon-i-right-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-search-dims {
	width: 14px;
	height: 14px;
}

.u-icon-i-show-dims {
	width: 22px;
	height: 15px;
}

.u-icon-i-small-down-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-small-down-brand-secondary-dims {
	width: 11px;
	height: 5px;
}

.u-icon-i-small-left-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-small-minus-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-small-plus-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-small-right-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-small-up-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-small-up-brand-secondary-dims {
	width: 11px;
	height: 5px;
}

.u-icon-i-success-dims {
	width: 17px;
	height: 17px;
}

.u-icon-i-success-green-solid-fill-dims {
	width: 18px;
	height: 18px;
}

.u-icon-i-system-dims {
	width: 22px;
	height: 22px;
}

.u-icon-i-tax-setup-dims {
	width: 22px;
	height: 22px;
}

.u-icon-i-tick-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-tools-dims {
	width: 22px;
	height: 22px;
}

.u-icon-i-trash-can-dims {
	width: 13px;
	height: 16px;
}

.u-icon-i-tree-closed-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-tree-open-dims {
	width: 12px;
	height: 12px;
}

.u-icon-i-twitter-standalone-dims {
	width: 17px;
	height: 15px;
}

.u-icon-i-undo-dims {
	width: 10px;
	height: 11px;
}

.u-icon-i-warning-dims {
	width: 17px;
	height: 17px;
}

.u-icon-i-youtube-dims {
	width: 42px;
	height: 42px;
}

